.container{
    display: flex;
    background-color: orangered;
    border: 5px solid orange;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* position: relative; */
    /* top: 200px; */
    border: solid 2px greenyellow;
}

.container h1{
    margin-right: 5px;
    /* border: solid 2px greenyellow; */
}

.container #submit{
    margin-left: 10px;
}

#main-container{
    position: absolute;
    top: 50px;
    width: 50%;
    left: 25%;
    
    

      
}

section{
    margin-top: 5px;
    /* margin-left: 50px; */
    border: solid 2px greenyellow;
    width: 100%;
}